* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #068dc5;
  color: white;
}

.wrapper {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Dimensions of chart + padding */
  min-width: 1050px;
  min-height: 705px;
}

a,
a:visited {
  color: white
}

overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}

.overlay-show {
  display: block;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info-wrapper {
  max-height: 0;
  flex: 0 0 0;
  top: 20px;
  position: relative;
  /* Over chart */
  z-index: 1;
}

.info {
  background: #333333;
  color: white;
  font-family: monospace;
  padding: 8px 16px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}

chart {
  display: block;
  position: relative;
}

.chart-map {
  position: absolute;
  top: 0;
  left: 0;
}

.chart-widgets {
  position: relative;
  overflow: visible !important; /* Override normalize */
}

.attribution {
  font-size: 10px;
  text-align: center;
}

circle {
  stroke: rgba(0,0,0,0.16);
  fill: rgba(0,0,0,0.15);
  cursor: -webkit-grab;
  cursor: grab;
}

circle.draggable-mouseover,
circle.dragging {
  fill: rgba(0,0,0,0.2);
}

.great-circle {
  fill: none;
  stroke: red;
  stroke-width: 2;
  pointer-events: none;
}